<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketflea.mapper.ProductMapper">
    <insert id="addProduct" parameterType="com.flab.marketflea.model.product.ProductRequest">
        INSERT
        INTO product(shopId, productName, category, productQty, price, releaseDate, createdAt, updatedAt)
        VALUES (#{shopId}, #{productName}, #{category}, #{productQty}, #{price}, #{releaseDate}, now(), now())
    </insert>

    <select id="findById" resultType="com.flab.marketflea.model.product.ProductResponse">
        SELECT id, productName, shopId, productName, category, productQty, price, releaseDate, createdAt, updatedAt
        FROM product
        WHERE id = #{id}
    </select>

    <select id="checkDuplicateProductName" resultType="boolean">
        SELECT EXISTS(SELECT * FROM product WHERE productName = #{productName})
    </select>

    <select id="isProductExist" resultType="boolean">
        SELECT EXISTS(SELECT * FROM product WHERE id = #{id})
    </select>
    <update id="updateProduct" parameterType="com.flab.marketflea.model.product.Product">
        UPDATE product
        SET ProductName = #{productName}, category = #{category}, productQty = #{productQty}, price = #{price}, releaseDate = #{releaseDate}
        WHERE id = #{id}
    </update>

    <delete id="deleteProduct" parameterType="com.flab.marketflea.model.product.Product">
        DELETE FROM product
        WHERE id = #{id}
    </delete>
</mapper>