<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketflea.mapper.UserMapper">

    <insert id="signUpMember" parameterType="com.flab.marketflea.domain.User">
        INSERT
        INTO user(id, password, name, role, phone, email, address, createdAt, updatedAt)
        VALUES (#{id}, #{password}, #{name}, #{role}, #{phone}, #{email}, #{address}, now(), now())
    </insert>

    <select id="isIdExist" resultType="_boolean">
        SELECT EXISTS(SELECT * FROM user WHERE id = #{id})
    </select>

    <select id="getUserById" resultType="com.flab.marketflea.domain.User">
        SELECT id, password, name, role, phone, email, address, createdAt, updatedAt
        FROM user
        WHERE id = #{id}
    </select>
</mapper>
