<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketflea.mapper.UserMapper">

    <select id="getAll" resultType="com.flab.marketflea.dto.User">
        SELECT * FROM user
    </select>

    <select id="get" resultType="com.flab.marketflea.dto.User">
        SELECT * FROM user where id = #{id}
    </select>

    <insert id="add" parameterType="com.flab.marketflea.dto.User">
        INSERT
        INTO user(id, password, name, role, phone, email, address)
        VALUES (#{id}, #{password}, #{name}, #{role}, #{phone}, #{email}, #{address})
    </insert>

</mapper>