<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketflea.mapper.UserMapper">

    <insert id="signUpUser" parameterType="com.flab.marketflea.domain.User">
        INSERT
        INTO user(userId, password, name, role, phone, email, address, createdAt, updatedAt)
        VALUES (#{userId}, #{password}, #{name}, #{role}, #{phone}, #{email}, #{address}, now(), now())
    </insert>

    <select id="isIdExist" resultType="boolean">
        SELECT EXISTS(SELECT * FROM user WHERE userId = #{userId})
    </select>

    <select id="getUserById" resultType="com.flab.marketflea.domain.User">
        SELECT userId, password, name, role, phone, email, address, createdAt, updatedAt
        FROM user
        WHERE userId = #{userId}
    </select>


    <select id="getPassword" resultType="String">
        SELECT password
        FROM user
        WHERE userId = #{userId}
    </select>

    <!--<select id="getUser" resultType="com.flab.marketflea.domain.User">-->
        <!--SELECT userId, password, name, role, phone, email, address, createdAt, updatedAt-->
        <!--FROM user-->
        <!--WHERE userId = #{userId} AND password = #{password}-->
    <!--</select>-->


    <update id="updateUser" parameterType="com.flab.marketflea.domain.UpdateUser">
        UPDATE user
        SET name = #{name}, phone = #{phone}, address = #{address}, email = #{email}
        WHERE userId = #{userId}
    </update>


    <update id="updatePassword" parameterType="com.flab.marketflea.domain.UpdatePasswordUser">
        UPDATE user
        SET password = #{password} AND updateAt() = NOW()
        WHERE userId = #{userId}
    </update>

</mapper>
